nav {
    width: 100%;
    height: 45px;
    background-color: #333333;
}

a {
    color: #ff0099;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 11px;
}

.links {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    position: absolute;
    top: 14px;
    right: 1065px;
}

.main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("assets/background.png");
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

.szemelyes {
    font-family: 'Caveat', cursive;
}

h1 {
    margin-top: 80px;
}

.foglalkozas {
    color: #ff0099;
}

.byline {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.cim {
    display: flex;
    justify-content: center;
}